/* Global Styles */
body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
}

/* Logo Styles */
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 150px;
  width: auto;
}

/* Container with the background image */
.container {
  background: url('https://hypescience.com/wp-content/uploads/2011/07/rockspaper-e1311258187832.jpg') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content div for text and button */
.content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 8px;
}

.content h2 {
  margin-bottom: 20px;
}

/* Button Styles */
button {
  background-color: #523025;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #9f5d48;
  -webkit-transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
}